<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Beta.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DEV.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ReactiveCocoaMvvmTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C196F041F3D4C2A007DD8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C196F1D1F3D4C2A007DD8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C196F281F3D4C2A007DD8CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D7215071F44114E002C6412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
